<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{!-- {{user.username}} on {{format_date created_date}} --}}
    </div>
    <div class="text">
      {{trailComment}}
    </div>
  </section>
  {{/each}}
</div>
