
<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="{{tag}}">
    <label class="form-check-label" for="inlineCheckbox3">{{tag}}</label>
</div>
