<!-- displaying articles -->
{{> post-info trail}}

{{#if loggedIn}}
<form class="comment-form">

  <div>
    <textarea class="comment-textarea" name="comment-body"></textarea>
  </div>

  <div>
    <button class="button-add-comment" type="submit">add comment</button>
  </div>

</form>
{{/if}}

{{> comments trail.comments}}

{{#if loggedIn}}
<script src="../public/javascript/comment.js"></script>
{{/if}}
