<!-- displaying articles -->
{{> trail-info trail}}

{{#if logged_in}}
<form class="comment-form needs-validation" novalidate>
        <div>
          <textarea class="comment-textarea form-control" name="comment-body" required></textarea>
          <div class="invalid-feedback">
            Can't send an empty comment!
          </div>
        </div>

        <div>
          <button class="button-add-comment" type="submit">add comment</button>
        </div>
</form>
{{/if}}

{{> comment trail.comments}}

{{#if logged_in}}
<script src="./js/comment.js"></script>
{{/if}}
