<div class="">
<a href="/dashboard/create/"><button id="create-post" class="">create post</button></a>

<h2 class="title">dashboard: your posts</h2><hr>
{{#if posts.length}}
    <div>
    {{#each posts as |post|}}
        {{> post-info post}}
    {{/each}}
    </div>
{{else}}
<h3 class="">you do not have any post yet</h3>

{{/if}}
