<div>

<h2 class="title text-light bg-primary">Personal Dashboard: Your Trails</h2><hr>
{{#if trails.length}}
    <div class="">
    {{#each trails as |trail|}}
        {{> trail-info trail}}
    {{/each}}
    </div>
{{else}}
<h3>You do not have any trails yet.</h3>

{{/if}}
