

<<<<<<< HEAD
<h2 class="title text-light bg-primary">Personal Dashboard: Your Trails</h2><hr>
=======
<h2 class="title">Dashboard: Your Trails</h2><hr>
<div class="dashboard-container">
>>>>>>> 6e1008825c96207dbd962b172bb5c85a74362e79
{{#if trails.length}}
    <div class="">
    {{#each trails as |trail|}}
        {{> trail-info trail}}
    {{/each}}
    </div>
{{else}}
<h3>You do not have any trails yet.</h3>
</div>
{{/if}}
