<div class="trail-container"><h2>Trails</h2>
{{#if trails.length}}
    <div>
    {{#each trails as |trail|}}
        {{> trail-info trail}}
    {{/each}}
    </div>
{{else}}
<h3>you do not have any trail yet</h3>
</div> {{!--  Closing Div for the trail-container class  --}}
{{/if}}
