<div class="column">
  <h2 class="title pb-4">Log In</h2>
  <hr />
  <form class="login-form">
    <div class="inputwrap">
      <label for="email-login">Email:</label>
      <input type="text" id="username-login" />
    </div>
    <div class="inputwrap">
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit" class="button-login">Login</button>
      <a href="/signup"><button
          type="button"
          class="button is-danger"
        >Signup</button></a>
    </div>
  </form>
</div>

<!-- javascript file-->
<script src="../public/javascript/login.js"></script>