
</div>
            <h2 class="title pb-4">Log in</h2>
            <hr />
            <form class="login-form needs-validation" novalidate >
              <div>
                <label for="email-login">Email:</label>
                <input type="text" id="email-login" class="form-control" required/>
                <div class="invalid-feedback">
                  please enter the registered email!
                </div>
              </div>
              <div>
                <label for="password-login">Password:</label>
                <input type="password" id="password-login" class="form-control"  required />
                <input type="checkbox" onclick="myFunction()">Show Password
                <div class="invalid-feedback">
                  Password can not be empty!
                </div>
              </div>

              <div>
                <button type="submit" class="button">Login</button>
                <a href="/signup"><button
                    type="button"
                    class="button"
                  >Signup</button></a>
              </div>
            </div>

            </form>
<!-- javascript file-->
<script src="/javascript/login.js"></script>
