<div class="column">
  <h2 class="title">Create A New Account</h2>
  <hr />
  <form class="signup-form needs-validation" novalidate>
    <div class="inputwrap">
      <label for="name-signup">Name:</label>
      <input
        type="text"
        placeholder="e.g. John Hiker"
        id="name-signup"
        class="form-control"
        required
      />
    </div>

    <div class="inputwrap">
      <label for="email-signup">Email:</label>
      <input
        type="text"
        placeholder="e.g.john@takeahike.com"
        id="email-signup"
        class="form-control"
        required
      />
    </div>

    <div class="inputwrap">
      <label for="password-signup">Password:</label>
      <input
        type="password"
        placeholder="Create password"
        id="password-signup"
        class="form-control"
        required
      />
    </div>

    <div class="inputwrap">
      <label for="password-confirm">Confirm password:</label>
      <input
        type="password"
        placeholder="Confirm Password"
        id="confirm_password"
        class="form-control"
        required
      />
      <div class="invalid-feedback">
        Password needs to match and should not be empty!!!
      </div>
    </div>

    <div>
      <button type="submit" class="button">
        Create Account
      </button>
    </div>
  </form>
</div>
<!-- javascript file-->
<script src="/javascript/signup.js"></script>
