<div class="column">
  <h2 class="title">Create A New Account:</h2>
  <hr />
  <form class="signup-form">

    <div class="inputwrap">
      <label for="email-signup">Email:</label>
      <input type="text" id="email-signup" />
    </div>

    <div class="inputwrap">
      <label for="password-signup">Password:</label>
      <input type="text" id="password-signup" />
    </div>
    <div class="inputwrap">
      <label for="confirm-password">Confirm password:</label>
      <input type="text" id="confirm-password" />
    </div>

    <div>
      <button type="submit" class="button">Signup</button>
    </div>
  </form>
</div>

<!-- javascript file-->
<<<<<<< HEAD
<script src="/javascript/signup.js"></script>
=======
<script src="../public/javascript/signup.js"></script>
>>>>>>> 0024682baf9f58588429e5c148d9688b3a91656f
