<section>
          <h2 class="title">create new hiking post</h2><hr>
          <form class="add-hike-form">
            <div>
              <label for="post-name">title:</label>
              <input class="input post-title" type="text" id="post-title" name="post-title" placeholder="e.g. Mail Box Peak"/>
            </div>
            <div>
              <label for="post-location">location:</label>
              <input type="text" class="post-location" id="post-location" name="post-location" placeholder="e.g. North Bend"/>
            </div>

              <div>
              <label for="post-zip">zip:</label>
              <input class="post-zip" type="text" id="post-zip" name="post-zip" placeholder="e.g. 99203"/>
            </div>

              <div>
              <label for="post-date">hiking date:</label>
              <input type="date" class="post-date" id="post-date" name="post-date"/>
            </div>

              <div>
              <select class="post-season" aria-label="season select">
                <option value="all season" selected>Select the season</option>
                <option value="spring">Spring</option>
                <option value="summer">Summer</option>
                <option value="autumn">Autumn</option>
                <option value="winter">Winter</option>
              </select>
           </div>

            <div>
              <div>
                <select class="post-difficulty" aria-label="level select">
                  <option value="n/a" selected>Select the difficulty level</option>
                  <option value="family-friendly">family-friendly</option>
                  <option value="moderate">moderate</option>
                  <option value="hard">hard</option>
                  <option value="professional">professional</option>
                </select>
             </div>
          </div>

            <div>
              <label for="post-category">tags:</label>
              <input class="post-category" id="post-category" name="post-category" placeholder="insert hiking content here"/>
            </div>

          </form>
          <button type="submit" class="submit_btn" onclick="newFormHandler()">create post</button>
</section>

<script src="/javascript/add-hike.js"></script>
