<section>
          <h2 class="title">create new hiking post</h2><hr>
          <form class="add-hike-form">
            <div>
              <label for="post-name">title:</label>
              <input class="input post-title" type="text" id="post-title" name="post-title" placeholder="e.g. Mail Box Peak"/>
            </div>
            <div>
              <label for="post-location">location:</label>
              <input type="text" class="post-location" id="post-location" name="post-location" placeholder="e.g. North Bend"/>
            </div>

              <div>
              <label for="post-zip">zip:</label>
              <input class="post-zip" type="text" id="post-zip" name="post-zip" placeholder="e.g. 99203"/>
            </div>

              <div>
              <label for="post-date">hiking date:</label>
              <input type="date" class="post-date" id="post-date" name="post-date"/>
            </div>

              <div>
                <label for="season">season:</label>
                  <form>
                    <input type="radio" id="summer" name="summer" value="summer">
                        <label for="summer"> summer</label><br>
                    <input type="radio" id="spring" name="spring" value="spring">
                        <label for="spring"> spring</label><br>
                    <input type="radio" id="winter" name="winter" value="winter">
                        <label for="winter"> winter</label>
                    <input type="radio" id="autumn" name="autumn" value="autumn">
                        <label for="autumn"> autumn</label>
                    </form>
             </div>

              <div>
              <label for="post-difficulty">difficulty level:</label>
              <form class="post-difficulty">
                <input type="radio" id="easy" name="post-difficulty" value="easy">
                  <label for="easy">easy</label><br>
                <input type="radio" id="moderate" name="post-difficulty" value="moderate">
                  <label for="moderate">moderate</label><br>
                <input type="radio" id="difficult" name="post-difficulty" value="difficult">
                  <label for="difficult">difficult</label>
              </form>
            </div>

            <div>
              <label for="post-category">tags:</label>
              <input class="post-category" id="post-category" name="post-category" placeholder="insert hiking content here"/>
            </div>

            <button type="submit" class="">create post</button>
          </form>
</section>

<script src="/javascript/add-hike.js"></script>
